<%= render 'clinician_profile', clinician: @clinician%>

<div class='row'>

  <!-- Panel 1 -->
  <%= render '/clinicians/partials/first', {patients: @patients}%>

  <!-- Panel 2 -->
  <%= render '/clinicians/partials/second', {patients: @patients, clinician: @clinician}%>

  <!-- Panel 3 -->
  <%= render '/clinicians/partials/third', {patients: @patients, atrisk: @atrisk}%>

</div>

<div class='row'>
  <div class='col-sm-12'>
    <div class='panel panel-info'>
      <div class='panel-heading'>
        <h4 style='color: #fff;'>Patient Map</h4>
      </div>
      <div class='panel-body'>
        
      </div>
    </div>
  </div>
</div>
