<div id='abt-jumbo-wrapper'>
  <div class='jumbotron abt-jumbo'>
    <div class='container'>
      <div class='logo-box-abt'>
        <h2 style='color: #fff;'>
          Heart Companion keeps you safe by letting keep track of your medical condition.
        </h2>
        <h2 style='color: #fff;'>
           It also alerts you to any changes.
        </h2>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'about_block_one' %>
<%= render partial: 'about_block_two' %>
