<div class='page-space'></div>

<%= render '/clinicians/patients/show_partial/patprofile', patient: @patient %>

<div class='page-space'></div>

<%= render '/clinicians/patients/show_partial/bpstat', patient: @patient%>
