<div class='col-sm-4'>
  <div class='panel panel-danger'>
    <div class='panel-heading'>
      <h6 style='color: #fff;'>Disease Type Statistics </h6>
    </div>
    <div class='panel-body dashboard-panel'>
      <% patients.each do |patient| %>

      <%end%>
      <%= pie_chart Patient.group(:clinician_id).count%>
    </div>
  </div>
</div>
