<div class='col-sm-4'>
  <div class='panel panel-info'>
    <div class='panel-heading'>
      <h6 style='color: #fff;'>asdfasfdasdf</h6>
    </div>
    <div class='panel-body dashboard-panel'>
      <%# pie_chart patients.average(:age)%>
    </div>
  </div>
</div>
