<div class='col-sm-4'>
  <div class='panel panel-warning'>

    <div class='panel-heading'>
      <h6 style='color: #fff;'>Patients with average heartrate > 85 </h6>
    </div>

    <div class='panel-body dashboard-panel'>
      <div class='row-fluid'>

        <div class='col-sm-6'>
          <h6>Full Name:</h6>
        </div>

        <div class='col-sm-3'>
          <center>
            <h6>BPM:</h6>
          </center>
        </div>

        <div class='col-sm-3'>
          <h6>BP:</h6>
        </div>
      </div>

      <% atrisk.each do |patient| %>
        <div class='row-fluid'>
          <div class='col-sm-6'>
            <%=patient.full_name%>
          </div>
          <div class='col-sm-3'>
            <center>
              <%= patient.patient_logs.average(:heartrate).to_i %>
            </center>
          </div>
          <div class='col-sm-3'>
            <%= patient.patient_logs.average(:bp_hi).to_i%> / <%=patient.patient_logs.average(:bp_low).to_i%>
          </div>
        </div>
      <%end%>

    </div>
  </div>
</div>
