<div class='modal fade' id='patParamsModal' tabindex='1' role='dialog' aria-labelledby='myModalLabel'>
    <div class='modal-dialog modal-params' role='document'>
      <div class='modal-content panel-primary'>
        <div class='modal-header panel-heading'>
          <button type="button" class="close modal-heading-txt" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class='modal-title modal-heading-txt modal-heading' id='myModalLabel'>Edit Patient's Parameters</h4>
        </div>

        <div class='modal-body panel-body'>
          <%= render partial: '/modals/pat_params_edit', patient: @patient%>
        </div>

      </div>
    </div>
</div>
