/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require jquery-ui
 *= require bootstrap_and_overrides
 *= require theme
 *= require sidenav
 %= require range_slider
 *= require_tree .
 *= require_self
 */

.page-space-lg {
  margin-top: 40px;
}

.page-space {
  margin-top: 20px;
}

.form-space {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile-panel {
  min-height: 255px;
}

.clinician-panel {
  min-height: 180px;
}

.dashboard-panel {
  position: relative;
  min-height: 250px;
  max-height: 250px;
  overflow-y: scroll;
}

.dashboard-table {
  min-height: 250px;
  overflow: scroll;
  max-hight: 250px;
}

.panel-log {
  min-height: 140px;
  max-height: 140px;
  overflow-x: scroll;
}

.nav-icon {
  border-radius: 50%;
}

.side-nav-icon {
  border-radius: 50%;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.side-nav-txt {
  color: #fff;
  margin-left: 2rem;
}

.navbar-after-top {
  top: 40px !important;
}

.footer {
  bottom: 0;
  min-height: 15rem;
  background-color: #525C5B;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#wrapper {
  margin-bottom: 10rem !important;
}

.flex-box{
  display: flex;
  align-items: center;
  height: 50px;
}

.flex-box:nth-child(1) {
  align-self: center;
}

/*
  currently unused styling
*/
