/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require jquery-ui
 *= require bootstrap_and_overrides
 *= require theme
 *= require sidenav
 *= require_tree .
 *= require_self
 */

.page-space-lg {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.page-space {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.form-space {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-right {
  text-align: right;
  align-content: right;
}

.panel-heading-sm {
  .panel-heading
  height: 10px;
}

.dashboard-title-panel {
  /*padding: 1px 10px 10px 10px;*/
  background-color: #CE5A52;
  border-radius: 3px;
}

.dashboard-title-text {
  color: #fff;
}

.top-level-panels {
  min-height: 20rem;
}

.profile-panel {
  min-height: 255px;
}

/*
  currently unused styling
*/

.align-flex-box {
  display: flex;
}

.container-spacing {
  margin-left: 20rem;
  margin-right: 37rem;
}

/*.panel-heading {
  .panel-heading-sm {
    height: 10px !important;
    background-color: inherit;
  }
}*/
