// Place all the styles related to the clinicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-btn {
  float: right;
}

.modal-body.panel-body {
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .modal-dialog.modal-params {
    width: 500px !important;
    margin: 30px auto;
  }
}

.btn-submit {
  width: 60%;
}
