// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-image: url('bg2.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:cover;
  z-index: -10;
}

.jumbotron {
  background-color: rgba(255,255,255,0.3);
  height: 100%;
  margin-bottom: 0 !important;
  // vertical-align: middle;
  // margin-bottom: 15rem;
  // background-blend-mode: darken;
}

.jumbo-title {
  margin-top: 10rem;
}

.content-block {
  padding-top: 10rem;
  padding-bottom: 10rem;
  min-height: 300px;
  background-color: rgba(255,255,255,1);
}
