#handle1, #handle2, #handle3, #handle4 {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#exbreath, #nightbreath, #swollen, #lightheaded {
  margin-top: 1.2rem;
}

// .ui-state-default {
//   border: 1px solid #CE5A52 !important;
//   background: #4E3837 !important;
//   color: #fff !important;
// }

.ui-widget-content {
  // border: 1px solid #CE5A52 !important;
}

.ui-slider-handle {
  // background-color: #CE5A52 !important;
}

.ui-slider-range-max {
  background: #CE5A52 !important;
}

.ui-slider-range-min {
  background: #CE5A52 !important;
}
