<div class='row'>
  <div class='col-sm-3'>
    <div class='container'>
      <div class='flex-box'>
        <div class='flex-item'>
          <h5 style='color: #ccc;'>Heart Companion</h5>
        </div>
      </div>
    </div>
  </div>
</div>
