
<div class='row'>
  <!-- First Column -->
  <div class='col-sm-3'>
    <div class='container'>
      <h5 style='color: #888'>HEART COMPANION</h5>
    </div>
  </div>

  <!-- Second Column -->
  <div class='col-sm-3'>
    <div class='container'>
      <h5 style='color: #888'>ABOUT US</h5>
    </div>
  </div>

  <!-- Third Column -->
  <div class='col-sm-3'>
    <div class='container'>
      <h5 style='color: #888'>CONNECT WITH US</h5>
    </div>
  </div>

  <!-- Fourth Column -->
  <div class='col-sm-3'>
    <div class='container'>
      <h5 style='color: #888'>SOCIAL MEDIA</h5>
    </div>
  </div>
</div>

<div class='row'>

  <!-- First Column -->
  <div class='col-sm-3'>
    <div class='container'>
      <a href='/'><p style='color: #ccc;'>Home</p></a>
      <a href='#'><p style='color: #ccc;'>Coverage</p></a>
      <a href='#'><p style='color: #ccc;'>Pricing</p></a>
    </div>
  </div>

  <!-- Second Column -->
  <div class='col-sm-3'>
    <div class='container'>
      <a href='#'><p style='color: #ccc;'>About</p></a>
      <a href='#'><p style='color: #ccc;'>Blog</p></a>
      <a href='#'><p style='color: #ccc;'>Pricing Policy</p></a>
      <a href='#'><p style='color: #ccc;'>Terms of Service</p></a>
    </div>
  </div>

  <!-- Third Column -->
  <div class='col-sm-3'>
    <div class='container'>
      <a href='#'><p style='color: #ccc;'>Help Center</p></a>
      <a href='#'><p style='color: #ccc;'>Get Started</p></a>
      <a href='#'><p style='color: #ccc;'>Contact Us</p></a>
    </div>
  </div>

  <!-- Fourth Column -->
  <div class='col-sm-3'>
    <div class='container'>
      <a href='#'><p style='color: #ccc;'><i class='fa fa-facebook-square' aria-hidden='true' style='color: #ccc;'></i> &nbsp;&nbsp;&nbsp; Facebook</p></a>
      <a href='#'><p style='color: #ccc;'><i class='fa fa-twitter-square' aria-hidden='true' style='color: #ccc;'></i> &nbsp;&nbsp;&nbsp; Twitter</p></a>
    </div>
  </div>

</div>
