<div class='row'>
  <div class='col-sm-offset-1'>
    <h2>Edit Patient Parameters</h2>
  </div>
</div>

<div class='page-space-lg'></div>

<%= render '/clinicians/patients/parameters', patient: @patient %>
